<div class="overview-container">
  <p-panel header="Overview">
    <p-panel header="Totals">
      <div class="totals-container panel-content">
        <div class="totals-numbers">
          <div>
            <p>Total Owed</p>
            <p class="total-p">{{ totalOwed }}</p>
          </div>
          <div>
            <p>Owed to You</p>
            <p class="total-p">{{ totalCredit }}</p>
          </div>
        </div>
        <div class="totals-graph">
          <div class="graph-container">
            <p>this is a pie chart?</p>
          </div>
        </div>
      </div>
    </p-panel>
    <p-panel header="Recent Activity">
      <div class="activity-container panel-content">
        <p>1</p>
        <p>1</p>
        <p>1</p>
      </div>
    </p-panel>
  </p-panel>
</div>
