<div class="overview-container">
  <div class="overview-card">
    <div class="card-top">
      <div>
        <p class="card-header">Total Owed</p>
        <p class="total-amount">{{ totalOwed }}</p>
      </div>
      <div>
        <p-button>Make a Payment</p-button>
      </div>
    </div>
    <div class="card-bottom">
      <p-panel header="Breakdown" [toggleable]="true" collapsed="true">
        <p-scroll-panel> </p-scroll-panel>
      </p-panel>
    </div>
  </div>

  <div class="overview-card">
    <div class="card-top">
      <div>
        <p class="card-header">Owed To You</p>
        <p class="total-amount">{{ totalCredit }}</p>
      </div>
      <div>
        <p-button>Request Payment</p-button>
      </div>
    </div>
    <div class="card-bottom">
      <p-panel header="Breakdown" [toggleable]="true" collapsed="true">
        <p-scroll-panel> </p-scroll-panel>
      </p-panel>
    </div>
  </div>
</div>
